
<ul class="breadcrumb">
    <li><%= link_to 'Home', '/' %><span class="divider">/</span></li>
    <li class="active"><%= @year %>年度 <%= @kamoku %></li>
</ul>

<h4><%= @year %>年度 <%= @kamoku %></h4>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <% if current_user %>
                <th>履歴</th>
            <% end %>
            <th>問数</th>
            <th>テーマ</th>
            <th>サブテーマ</th>
        </tr>
    </thead>
    <tbody>
        <% @questions.each do |q| %>
                <% if current_user %>
                    <% table_class = q.last3status(current_user) %>
                    <tr style="cursor: pointer" class="<%= table_class %>" data-href=<%= "/q/#{@subject}/#{q.year}/#{q.number}" %>> 
                    <td>
                        <span style="white-space: nowrap">
                            <% q.history(current_user).each do |h| %>
                                <% if h.correct %>
                                    <span class="right">◯</span>
                                <% else %>
                                    <span class="wrong">×</span>
                                <% end %>
                            <% end %>
                        </span>
                    </td>
                <% else %>
                    <tr style="cursor: pointer" data-href=<%= "/q/#{@subject}/#{q.year}/#{q.number}" %>> 
                <% end %>
                <td style="white-space: nowrap">
                    <%= link_to "第#{q.number}問","/q/#{@subject}/#{q.year}/#{q.number}" %>
                </td>
                <td><%= abbifsmapho q.maintheme %></td>
                <td><%= abbifsmapho q.subtheme %></td>
            </tr>
        </a>
    <% end %>
    </tbody>
</table>

<script>
    jQuery( function($) {
        $('tbody tr[data-href]').addClass('clickable').click( function() {
            window.location = $(this).attr('data-href');
            }).find('a').hover( function() {
            $(this).parents('tr').unbind('click');
            }, function() {
            $(this).parents('tr').click( function() {
                window.location = $(this).attr('data-href');
            });
        });
    });
</script>

<% if false %>
<ul class="thumbnails">
    <% @questions.each do |q| %>
        <li class="span3">
        <div class="thumbnail">
            <%= link_to (image_tag "/assets/svg/#{q.svg}", height:"100"), "/q/#{@subject}/#{q.year}/#{q.number}" %>
            <!-- <%= (image_tag "/assets/svg/#{q.svg}", height:"100") %> -->
            <div class="caption">
                <h5>第<%= q.number %>問</h5>
                <%= @themes[q.number].subtheme %>
            </div>
        </div>
        </li>
    <% end %>
</ul>
<% end %>
<%= link_to 'Topへ', '/' %>
