

<h2><%= @year %>年度 <%= @subject %></h2>
<table class="table table-bordered">
    <!--
    <thead>
        <tr><th>qnum</th><th>sqnum</th><th>tcode</th><th>svg</th></tr>
    </thead>
    -->
    <tbody>
        <% @questions.each do |q| %>
            <tr>
                <td>
                    <p><%= image_tag "/assets/svg/#{q.svg}" %></p>
                    <%  (1..q.subquestion).each do |i| %>
                        <% if not q.subquestion == 1 %>
                            <p><span class="label label-inverse">【設問<%= i %>】</span></p> 
                        <% end %>
                        <p><div class="btn-group" id="selection-<%= i %>">
                            <% %w(ア イ ウ エ オ).first(q.selectioncount.split(',')[i-1].to_i).each do |s| %>
                            <%= link_to s, "/q/#{@kamokucode}/#{q.year}/#{q.number}/ans/#{s}",
                                        class: "btn btn-primary", id: "answer-#{i}", remote: true %>
                            <% end %>
                        </div>
                        <div id="check-answer-<%= i %>"></div></p>
                        <script>
                            $(function() {
                                $('#answer-<%= i %>').live('ajax:success', function(e, data, status, xhr){
                                    //alert(data.answer);
                                    //alert(data.correct);
                                    if (data.correct) {
                                        $('#check-answer-<%= i %>').html(data.answer+ ":正解!").css("color","blue");
                                    } else {
                                    $('#check-answer-<%= i %>').html("不正解"+ "         正解は・・・"+data.right).css("color", "red");
                                    }
                                    $('#selection-<%= i %>').hide();
                                }) .live('ajax:error', function(e, data, status, xhr) {
                                    alert("error");
                                });
                            });
                        </script>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<h3>同じテーマの問題</h3>
<p><%= link_to "#{@theme.maintheme}/#{@theme.subtheme}", "/theme/#{@theme.themecode}" %></p>
<ul>
    <% @themequestions.each do |q| %>
        <li><%= link_to "#{q.year}年 第#{q.number}問", "/q/#{@kamokucode}/#{q.year}/#{q.number}" %></li>
    <% end %>
</ul>    
<%= link_to 'Topへ', '/' %>
