<% content_for :meta_tag do
    set_meta_tags :site => '中小企業診断士の過去問',
        :description => "#{@theme.maintheme} #{@theme.subtheme}",
        :keywords => ['過去問', '診断士', 'テーマ別', @kamoku],
        :title => "#{@year}年度#{@kamoku} 第#{@question.number}問",
        :reverse => true,
        :open_graph => {
            :site_name => '中小企業診断士の過去問',
            :title => "#{@year}年度#{@kamoku} 第#{@question.number}問",
            :description => "#{@theme.maintheme} #{@theme.subtheme}",
            :url => request.url,
            :type => 'website',
            :image => 'http://smec-kakomon.jp/assets/logo2.png'
        }
%>
<%= display_meta_tags %>
<% end %>

<% content_for :sidebar do %>
    <div class="sbox">
        <h2>自分用メモ</h2>
        <div class="sboxInner">
            <% if current_user %>
                <textarea 
                    class="memoBox" 
                    id="memo" 
                    placeholder="このメモは他の人には公開されません。"></textarea>
                <button 
                    id="memo_save_button" 
                    class="btn small" 
                    style="line-height:12px"
                    data-remote="true">
                    内容を保存する</button>
                <span 
                    class="label label-success"
                    id="memo_sysmessage" 
                    style="display:none"
                    >保存しました</span>
            <% else %>
                <p>ログインすると、問題ごとに自分専用のメモが残せます。</p>
            <% end %>
        </div>

    </div>
<% end %>

<ul class="breadcrumb">
    <li><%= link_to 'Home', '/' %><span class="divider">/</span></li>
    <li><%= link_to "#{@year} 年度 #{@kamoku}", "/q/#{@question.subject}/#{@year}" %>
        <span class="divider">/</span></li>
    <li class="active"><%= "第#{@question.number}問" %></li>
</ul>

<h4><%= @year %>年度 <%= @kamoku %></h4>
<table class="table table-bordered">
    <!--
    <thead>
        <tr><th>qnum</th><th>sqnum</th><th>tcode</th><th>svg</th></tr>
    </thead>
    -->
    <tbody>
        <tr><td>
                <%= render partial: "shared/questions", object: @question %>
        </td></tr>
    </tbody>
</table>

<ul class="pager">
    <% p = @question.prev %>
    <% n = @question.next %>
    <li class="previous">
    <% if p %>
        <%= link_to("＜前の問題", "/q/#{p.subject}/#{p.year}/#{p.number}") %>
    <% else %>
        <%= link_to("#{@question.year}年#{@question.kamoku}", "/q/#{@question.subject}/#{@question.year}") %>
    <% end %>
    </li>
    <li class="next">
    <% if n %>
        <%= link_to("次の問題＞", "/q/#{n.subject}/#{n.year}/#{n.number}") %>
    <% else %>
        <%= link_to("#{@question.year}年#{@question.kamoku}", "/q/#{@question.subject}/#{@question.year}") %>
    <% end %>
    </li>
</ul>

<div class="tabbable tabs-top">
    <ul class="nav nav-tabs">
        <li class="active">
        <a href="#kanren" data-toggle="tab">関連情報</a></li>
        <li>
        <a href="#theme" data-toggle="tab">同じテーマの出題状況(<%= @themequestions.count %>)</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active", id="kanren">
            <!--
            <% if @question.comments.any? %>
                <ul>
                    <% @question.comments.each do |c| %>
                        <% if c.id %>
                            <div class="commentBox" id="comment_<%= c.id %>">
                                <div class="commentBoxinner">
                                    <p>
                                    <% c.body.each_line do |l| %>
                                        <%= auto_link(l, html: {target: '_blank'}) %><br>
                                    <% end %>
                                    </p> by <%= c.commenter %>
                                    <% if current_user && (current_user.id == c.user_id) %>
                                        <%= link_to content_tag('i', '', class: 'icon-trash'),
                                            "#{question_path @question}/c/#{c.id}",
                                        confirm: "削除してもよろしいですか？", method: :delete, remote: true %>
                                    <% end %>
                                </div>
                            </div>
                            
                        <% end %>
                    <% end %>
                </ul>
            <% else %>
                <p>関連情報はありません。</p>
            <% end %>

            <% if current_user %>
                <%= form_for( 
                             @question.comments, url: "/q/#{@question.subject}/#{@question.year}/#{@question.number}/c",
                             method: 'POST',
                                 html: {class:'form-horizontal'}
                            ) do |f| %>
                    <% if @comment.errors.any? %>
                        <ul>
                            <% @comment.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                            <% end %>
                        </ul>
                    <% end %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <div class="control-group">
                        <div class="field">
                            <%= f.label :commenter, "名前", class: "control-label" %>
                            <div class="controls">
                                <%= f.text_field :commenter, value: current_user.name %>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="field">
                            <%= f.label :body, "コメント", class: "control-label"  %>
                            <div class="controls">
                                <%= f.text_area :body, rows: 5 %>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <div class="actions">
                                <%= f.submit "送信"%>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <div class="alert alert-info">
                    <button class="close" data-dismiss="alert">&times;</button>
                    コメントを残すには、ログインしてください。
                </div>

            <% end %>
            -->
            <div class="fb-comments" data-href="<%= request.url %>" data-width="470" data-num-posts="10"></div>
        </div>
        <div class="tab-pane", id="theme">
            <p><%= link_to "#{@theme.maintheme}/#{@theme.subtheme}", "/theme/#{@theme.themecode}" %></p>
            <table class="table table-bordered">
                <thead>
                    <tr><td>2012年</td><td>2011年</td><td>2010年</td><td>2009年</td><td>2008年</td></tr>
                </thead>
                <tbody>
                    <tr>
                        <% [2012, 2011, 2010, 2009, 2008].each do |year| %>
                            <td>
                                <% yearqestions = @themequestions.select{|x|x.year==year}.each do |q| %>
                                    <p><%= link_to "第#{q.number}問", "/q/#{q.subject}/#{q.year}/#{q.number}" %></p>
                                <% end %>
                                <%= "-" if yearqestions.empty? %>
                            </td>
                        <% end %>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<%= link_to 'Topへ', '/' %>

<script>
    $(function() {
        $('a[data-method="delete"]').live('ajax:success', function(e, data, status, xhr){
           // alert("deleted!");
           $('#comment_' + data.comment.id).fadeOut("slow");
       });

       $('#memo_save_button').click(function(){
          // alert($('#memo').val());
          $.ajax({
              type: 'POST',
              url: '<%= set_memo_path %>',
              data: {
                  user_id: <%= current_user ? current_user.id : "" %>,
                  question: '<%= @question.code %>',
                  body: $('#memo').val(),
              },
              dataType: 'json',
              cache: false,
          })
          .done(function(data){
              if(data.success){
                  // success
                  $('#memo_sysmessage').fadeIn(500, function() {
                      setTimeout(function() {
                          $('#memo_sysmessage').fadeOut(500);
                      }, 1000);
                  });
              } else {
                  alert("コメントの保存に失敗しました。再度試してください。");
              }
          })
          .fail(function(data){
              alert("コメントの保存に失敗しました。再度試してください。");
          });

       }) 
   });  

   jQuery.event.add(window,"load",function(){
       $.ajax({
           type: 'GET',
           url: '<%= get_memo_path %>',
           data: {
               user_id: <%= current_user ?  current_user.id : ""%>,
               question: '<%= @question.code %>',
           },
           dataType: 'json',
           cache: false,
       })
       .done(function(data){
           $('#memo').val(data.memo);
       })
       .fail(function(data){
       });
   });
</script>
