<h3><%= @maintheme %> / <%= @subtheme %></h3>
<table class="table table-bordered">
    <!--
    <thead>
        <tr><th>qnum</th><th>sqnum</th><th>tcode</th><th>svg</th></tr>
    </thead>
    -->
    <tbody>
        <% if @themecode.nil? %>
            <p>テーマが選択されていません</p>
        <% else %>
            <% q = @themequestions.each do |q| %>
                <tr>
                    <td>
                        <p><%= q.year %>年 第<%= q.number %>問</p>
                        <%= image_tag "/assets/svg/#{q.svg}" %>
                    </td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>
<%= link_to 'Topへ', '/' %>
