
<h3><%= @maintheme %> <%= "#{"/ " + @subtheme if not @mainthemecode}" %></h3>
<% if @mainthemecode %>

<ul class="breadcrumb">
    <li><%= link_to 'Home', '/' %><span class="divider">/</span></li>
    <li class="active"><%= "#{@kamoku} #{@maintheme}" %></li>
</ul>
<% @subthemes.each do |s| %>
    <h4><%= abbifsmapho s.subtheme %>(<%= s.questions.count %>)</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <% if current_user %>
                    <th>履歴</th>
                <% end %>
                <th>年度</th>
                <th>問数</th>
            </tr>
        </thead>
        <tbody>
            <% s.questions.each do |q| %>
            <% if current_user %>
                <% table_class = q.last3status(current_user) %>
                <tr style="cursor: pointer" class="<%= table_class %>" data-href=<%= question_path q %>> 
                    <td>
                        <span style="white-space: nowrap">
                            <% q.history(current_user).each do |h| %>
                                <% if h.correct %>
                                    <span class="right">◯</span>
                                <% else %>
                                    <span class="wrong">×</span>
                                <% end %>
                            <% end %>
                        </span>
                    </td>
                <% else %>
                    <tr style="cursor: pointer" data-href=<%= question_path q %>> 
                    <% end %>
                    <td>
                        <%= q.year %>年
                    </td>
                    <td>
                        第<%= q.number %>問
                    </td>
                    </tr>
                <% end %>
        </tbody>
    </table>
<% end %>

<script>
    jQuery( function($) {
        $('tbody tr[data-href]').addClass('clickable').click( function() {
            window.location = $(this).attr('data-href');
            }).find('a').hover( function() {
            $(this).parents('tr').unbind('click');
            }, function() {
            $(this).parents('tr').click( function() {
                window.location = $(this).attr('data-href');
            });
        });
    });
</script>
<% else %>
<ul class="breadcrumb">
    <li><%= link_to 'Home', '/' %><span class="divider">/</span></li>
    <li><%= link_to @maintheme, "/theme/#{@themecode[0..2]}" %><span class="divider">/</span></li>
    <li class="active"><%= "#{@subtheme}" %></li>
</ul>
<table class="table table-bordered">
    <!--
    <thead>
        <tr><th>qnum</th><th>sqnum</th><th>tcode</th><th>svg</th></tr>
    </thead>
    -->
    <tbody>
        <% if @themecode.nil? %>
            <p>テーマが選択されていません</p>
        <% else %>
            <% @themequestions.each do |q| %>
                <tr>
                    <td>
                        <% @question = q %>
                        <%= "#{q.year} 年" %>
                        <%= render partial: "shared/questions", object: @question %> 
                    </td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>
<% end %>
<%= link_to 'Topへ', '/' %>
